div(id="sourceEditTable" class="table table-sm")
  div#searchwell&attributes({'class': 'searchwell row'})
    div#totalPages1&attributes({'class':"col-md-2"})
      p!= '<strong>Total Pages:</strong>' 
    div#totalPages2&attributes({'class':"col-md-1"})
      p #{totalPages}
  table 
    thead
      tr
        th SentenceId(click)
        th Word
        th Country
        th 1st Role
        th 2nd Role
        th Start(mm/dd/yyyy)
        th End(mm/dd/yyyy)
        th Who Added
        th Tag Time
        th Tool
    tbody
      each source in allFlaggedNouns
        tr
          td <button class="linkButtonNoun">#{source.sentenceId}</button>
          td #{source.word}
          td 
             input(type="text", name="countryCodename",value="#{source.countryCode}" class="countryCode jadeinput" readonly)
          td 
             input(type="text", name="firstrolename",value="#{source.firstRoleCode}" class="firstRoleCode jadeinput" readonly)
          td 
             input(type="text", name="secondrolename",value="#{source.secondRoleCode}" class="secondRoleCode jadeinput" readonly)
          if source.dateStart =='Wed Jan 01 1800 00:00:00 GMT-0600 (CST)'
           td 
              input(type="text", name="datestartname",value="na" class="dateStart" readonly)
          else
              if source.dateStart =='Wed Jan 01 2200 00:00:00 GMT-0600 (CST)'
               td  
                 input(type="text", name="datestartname",value="now" class="dateStart" readonly)
              else
               td
                 input(type="text", name="datestartname",value="#{source.dateStart}" class="dateStart" readonly)
          if source.dateEnd =='Wed Jan 01 1800 00:00:00 GMT-0600 (CST)'
           td 
              input(type="text", name="dateendname",value="na" class="dateEnd" readonly)
          else
              if source.dateEnd=='Wed Jan 01 2200 00:00:00 GMT-0600 (CST)'
               td  
                 input(type="text", name="dateendname",value="now" class="dateEnd" readonly)
              else
               td
                 input(type="text", name="dateendname",value="#{source.dateEnd}" class="dateEnd" readonly)
          td #{source.userName}
          td #{source.taggingTime}
          td <button class="editSourceButton">Edit</button>
          td(class="hidden sourceDictionaryClass") #{source._id}

