div(id="sourceTable" class="table table-sm")
  table 
    thead
      tr
        th SentenceId(click)
        th Word
        th Country
        th 1st Role
        th 2nd Role
        th Start
        th End
        th Who Added
        th Tag Time
    tbody
      each source in sourcedictionary
        tr
          td <button class="linkButtonSource">#{source.sentenceId}</button>
          td #{source.word}
          td #{source.countryCode}
          td #{source.firstRoleCode}
          td #{source.secondRoleCode}
          td #{source.dateStart}
          td #{source.dateEnd}
          td #{source.userName}
          td #{source.taggingTime}

