div(id="verbTable" class="table table-bordered")
  table 
    thead
      tr
        th Sentence
        th Word
        th VerbCode
        th Who Added
        th Tag Time
    tbody
      each source in verbdictionary
        tr
          td <button class="linkButtonVerb">#{source.sentenceId}</button>
          td #{source.word}
          td #{source.verbcode}
          td #{source.userName}
          td #{source.taggingTime}

