div(id="verbEditTable" class="table table-sm")
  div#searchwell&attributes({'class': 'searchwell row'})
    div#totalPages1&attributes({'class':"col-md-2"})
      p!= '<strong>Total Pages:</strong>' 
    div#totalPages2&attributes({'class':"col-md-1"})
      p #{totalPages}
  table 
    thead
      tr
        th SentenceId(click)
        th Word
        th VerbCode 
        th Confidence       
        th AddedBy
        th Tag Time
        th Tool
    tbody
      each verb in allFlaggedVerbs
        tr
          td <button class="linkButtonVerb">#{verb.sentenceId}</button>
          td
             input(type="text", name="verbword",value="#{verb.word}" class="verbword jadeinput" readonly)
          td 
             input(type="text", name="verbcodename",value="#{verb.verbcode}" class="verbcode jadeinput" readonly)
          td
             input(type="checkbox", name="verbconfidence",value="#{verb.confidenceFlag}" class="verbconfidence jadeinput" readonly)
          td #{verb.userName}
          td #{verb.taggingTime}
          td <button class="btn btn-primary editVerbButton">Edit</button> <button class="deleteVerbButton btn btn-danger">Delete</button>
          td(class="hidden verbDictionaryClass") #{verb._id}